<div class="container">
  <div class="row justify-content-center align-items-center">
      <div class="card shadow col-md-6 text-center">
          <div class="card-body text-center">
              <div class="content text-center">
                <p class="h1"><b>Chief!</b></p>
                <p class="h5">glad you're back</p>
                <img class="doodle" src="https://firebasestorage.googleapis.com/v0/b/bloodbank-71b27.appspot.com/o/media%2Funboxing.svg?alt=media" alt="">
              </div>
              <p *ngIf="authenticationError" class="text-danger">Email or Password is invalid!</p>
              <input #email type="email" name="email" id="email" class="form-control my-2" placeholder="Email">
              <input #password type="password" name="password" id="password" class="form-control my-2" placeholder="Password">
              <button (click)="authenticateAdmin(email.value,password.value)" class="btn btn-primary form-control my-2"><b>Login</b></button>
          </div>
      </div>
  </div>
</div>
