<div class="row">

    
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2 text-center">
                    <i class="fas fa-hospital fa-2x text-gray-300"></i>
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Blood donation camps in your city (Upcoming)</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">22</div>                           
                </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2 text-center">
                    <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Urgent Blood Requirements in your city</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">04</div>                           
                </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2 text-center">
                    <i class="fas fa-tint fa-2x text-gray-300"></i>
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Blood Requirements in your city</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">19</div>                           
                </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2 text-center">
                    <i class="fas fa-award fa-2x text-gray-300"></i>
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Donor Registration</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fas fa-check text-success"></i> Completed</div>                           
                </div>
                </div>
            </div>
        </div>    
    </div>
</div>