<div class="container">
    <div class="row justify-content-center align-items-center my-3">
        <div class="card shadow col-md-6 text-center">
            <div class="card-body row justify-content-center align-items-center">
                <div class="content text-center">
                    <p class="login-header">
                        Login to 
                        <a routerLink="/" class="my-auto h4 text-gray-600 text-decoration-none text-uppercase"><i class="fa fa-tint text-danger"></i> <b> Life Drops</b></a>
                    </p>
    
                    <a (click)="login()" class="btn btn-google btn-icon-split mb-2 text-white">
                        <span class="icon text-white">
                            <i class="fab fa-google fa-w"></i>
                        </span>
                        <span class="text">Sign in</span>
                    </a>

                </div>   
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="card shadow col-md-6 text-center">
            <div class="card-body row align-items-center">
                <div class="content">
                    <!--About Life Drops-->
                    <p class="header mt-3">About Life Drops</p>
                    
                    <p class="about-us">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae delectus labore eius, odit nesciunt eveniet neque exercitationem architecto harum ratione voluptatum fugit magni, qui nisi voluptatibus officia, cupiditate fuga. Dolorem!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ducimus perferendis saepe. Molestias vero, enim voluptas, modi beatae pariatur consequatur ut sapiente non facilis reiciendis, excepturi rerum obcaecati eaque odit.
                    </p> 
                </div>   
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="card col-md-6 bg-success text-white shadow my-3">
            <div class="card-body notifier-card">
                <p class="text-white about-us my-3">Note : All users have to sign in for using this website, this is for preventing misuse of the platform</p>
            </div>
        </div>
    </div>
    
</div>