<div class="container">
    <div class="row justify-content-center align-items-center my-3">
        <div class="card shadow col-md-6 text-center">
            <div class="card-body row justify-content-center align-items-center">
                <div class="display-block text-center">
                    <p class="h1"><b>Hooray!</b></p>
                    <p class="login-header h5">No need to create account<p>
                    <img class="doodle" src="https://firebasestorage.googleapis.com/v0/b/bloodbank-71b27.appspot.com/o/media%2Fselfie.svg?alt=media" alt=""><br>
                    <a (click)="login()" class="btn btn-google btn-icon-split mb-2 text-white">
                        <span class="icon text-white">
                            <i class="fab fa-google fa-w"></i>
                        </span>
                        <b class="text">Login</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="card shadow col-md-6 text-center">
            <div class="card-body row align-items-center">
                <div class="content">
                    <!--About Life Drops-->
                    <p class="text-dark mt-3"><b>About lifedrops</b></p>

                    <p class="about-us">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae delectus labore eius, odit nesciunt eveniet neque exercitationem architecto harum ratione voluptatum fugit magni, qui nisi voluptatibus officia, cupiditate fuga. Dolorem!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ducimus perferendis saepe. Molestias vero, enim voluptas, modi beatae pariatur consequatur ut sapiente non facilis reiciendis, excepturi rerum obcaecati eaque odit.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="card col-md-6 bg-primary text-white shadow my-3">
            <div class="card-body notifier-card">
                <p class="text-white about-us my-3">Note : All users have to sign in for using this website, this is for preventing misuse of the platform</p>
            </div>
        </div>
    </div>

</div>
