<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <div class="container">
      <!-- Topbar Navbar -->
      <a routerLink="/" class="my-auto h4 text-gray-600 text-decoration-none text-uppercase"><i class="fa fa-tint text-danger"></i> <b> Life Drops</b></a>
      <ul *ngIf="!isLogin()" class="navbar-nav ml-auto">
  
  
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
            <img class="img-profile rounded-circle" [src]=photoURL>
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a (click)="logout()" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
  
      </ul>
  
    </div>
    
</nav>
<!-- End of Topbar -->