<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <div class="container">
      <!-- Topbar Navbar -->
      <a routerLink="/" class="my-auto h4 text-gray-600 text-decoration-none text-uppercase">
        <img id="logo" src="assets/img/logo.png" alt="">
      </a>
      <a routerLink="/admin/dashboard" *ngIf="isAdmin() || isUserAdmin()" class="card bg-primary text-white small p-1 ml-2">Admin</a>
      <ul *ngIf="!isLogin()" class="navbar-nav ml-auto">


        <!-- Nav Item - User Information -->
        <li *ngIf="!isUserAdmin()" class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p class="m-0 mr-2 d-none d-lg-inline text-dark small"><b class="my-auto">{{userName}}</b></p>
            <img *ngIf="photoURL" class="img-profile rounded-circle" [src]=photoURL>
          </a>
          <!-- Dropdown - User Information -->
          <div *ngIf="!isUserAdmin()" class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a (click)="logout()" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>

        <li *ngIf="isAdmin() || isUserAdmin()" class="nav-item row">
          <button (click)="logout()" class="btn btn-white"><i class="fa fa-sign-out-alt"></i></button>
        </li>

      </ul>

    </div>

</nav>
<!-- End of Topbar -->
