<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-navbar></app-navbar>

            <!-- Begin Page Content -->
            <div class="container">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-address-card"></i> Dashboard</h1>
                </div>

                <!--User Content-->
                <app-usercards></app-usercards>


                <!--Raise events-->

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h3 class="h5 mb-0 text-gray-800"><i class="fas fa-fist-raised"></i> Raise Events</h3>
                </div>

                <div class="row">
                    <div class="col-md-4 display-grid">
                        <a routerLink="/create/blood-donation-event" class="btn raise-button shadow btn-primary mt-2 mb-2">
                            <span class="icon text-white-50 mr-2"><i class="fas fa-calendar-plus"></i></span>
                            <span class="text">Create a blood donation event</span>
                        </a>
                    </div>
                    <div class="col-md-4 display-grid">
                        <a routerLink="/create/urgent-requirement" class="btn raise-button shadow btn-danger  mt-2 mb-2">
                            <span class="icon text-white-50 mr-2"><i class="fas fa-bullhorn"></i></span>
                            <span class="text">Post an urgent requirement</span>
                        </a>
                    </div>
                    <div class="col-md-4 display-grid">
                        <a routerLink="/create/requirement" class="btn raise-button shadow btn-warning  mt-2 mb-2">
                            <span class="icon text-white-50 mr-2"><i class="fas fa-plus"></i></span>
                            <span class="text">Post a blood requirement</span>
                        </a>
                    </div>

                </div>

                <!--Note-->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow mb-4 mt-2">
                            <div class="card-header">
                                <p class="text-muted m-0 p-0 text-uppercase"><i class="fas fa-exclamation-triangle"></i> Note</p>
                            </div>
                            <div class="card-body">
                                <p class="text-muted m-0 p-0">The events raised by users will be validated by the admin before releasing the post</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow mb-4 mt-2">
                            <div class="card-header">
                                <p class="text-muted m-0 p-0 text-uppercase"><i class="fas fa-quote-right"></i> Tips</p>
                            </div>
                            <div class="card-body">
                                <p class="text-muted m-0 p-0">The events raised by users will be validated by the admin before releasing the post</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Health status-->

                <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                    <h3 class="h5 mb-0 text-gray-800"><i class="fas fa-heartbeat"></i> Your Status</h3>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow mb-4">
                            <div class="card-header row m-0 justify-content-between py-3">
                                <p class="mt-auto mb-auto p-0 text-uppercase text-primary">
                                    <i class="fas fa-user"></i> 
                                    Your Name
                                </p>
                                <div class="button-container">
                                    <button class="btn btn-success btn-icon-split status-button mr-1 mb-1">
                                        <span class="icon text-white-50"><i class="fas fa-thumbs-up"></i></span>
                                        <span class="text">Can Donate</span>
                                    </button>
                                    <button class="btn disabled btn-danger btn-icon-split status-button mr-1 mb-1 ">
                                        <span class="icon text-white-50"><i class="fas fa-thumbs-down"></i></span>
                                        <span class="text">Cannot Donate</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td><h6><span class="text-uppercase"><b>Current Status</b></span></h6></td>
                                        <td class="text-center"> : </td>
                                        <td>Can Donate</td>
                                    </tr>
                                    <tr>
                                        <td><h6><span class="text-uppercase"><b>Blood Group</b></span></h6></td>
                                        <td class="text-center"> : </td>
                                        <td>Group</td>
                                    </tr>
                                    <tr>
                                        <td><h6><span class="text-uppercase"><b>Current Location</b></span></h6></td>
                                        <td class="text-center"> : </td>
                                        <td>Location</td>
                                    </tr>
                                    <tr>
                                        <td><h6><span class="text-uppercase"><b>Permanent Location</b></span></h6></td>
                                        <td class="text-center"> : </td>
                                        <td>Location</td>
                                    </tr>
                                    <tr>
                                        <td><h6><span class="text-uppercase"><b>Date of Birth</b></span></h6></td>
                                        <td class="text-center"> : </td>
                                        <td>dd/mm/yyyy</td>
                                    </tr>
                                    <tr>
                                        <td><h6><span class="text-uppercase"><b>Phone</b></span></h6></td>
                                        <td class="text-center"> : </td>
                                        <td>+91-XXXXXXXXXX</td>
                                    </tr>
                                    <tr>
                                        <td><h6><span class="text-uppercase"><b>Email</b></span></h6></td>
                                        <td class="text-center"> : </td>
                                        <td>email@provider.com</td>
                                    </tr>
                                </table><hr>
                                <h6><span class="text-uppercase mt-2"><b>Permanent Address</b></span></h6>
                                <div class="address">
                                    <span>Address Line 1</span>
                                    <span>Address Line 2</span>
                                    <span>City</span>
                                    <span>State</span>
                                    <span>Pin</span>
                                </div>


                            </div>
                        </div>                      
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <p class="m-0 p-0 text-uppercase text-primary"><i class="fas fa-exclamation-triangle"></i> Blood donation Eligiblity</p>
                            </div>
                            <div class="card-body">
                                <h6>In order to donate you must meet the requirements listed below.</h6>
                                <small>Please note that this is not a complete list; other eligibility factors will apply.</small>
                                <ul>
                                    <li><i class="fas fa-check text-success"></i> Be in good health and feeling well</li>
                                    <li><i class="fas fa-check text-success"></i> Be at least 18 years old and atmost 60</li>
                                    <li><i class="fas fa-check text-success"></i> Weigh at least 50kg</li>
                                    <li><i class="fas fa-check text-success"></i> Are not pregnant</li>
                                    <li><i class="fas fa-check text-success"></i> Your last blood donation was 3 or more months earlier.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <p class="m-0 p-0 text-uppercase text-danger"><i class="fas fa-times-circle"></i> You cannot donate blood if</p>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><i class="fas fa-times text-danger"></i> Cold / fever in the past 1 week</li>
                                    <li><i class="fas fa-times text-danger"></i> Under treatment with antibiotics or any other medication</li>
                                    <li><i class="fas fa-times text-danger"></i> Cardiac problems, hypertension, epilepsy, diabetes (on insulin therapy), history of cancer, chronic kidney or liver disease, bleeding tendencies, venereal disease etc.</li>
                                    <li><i class="fas fa-times text-danger"></i> Major surgery in the last 6 months</li>
                                    <li><i class="fas fa-times text-danger"></i> Vaccination in the last 24 hours</li>
                                    <li><i class="fas fa-times text-danger"></i> Had a miscarriage in the last 6 months or have been pregnant / lactating in the last one year</li>
                                    <li><i class="fas fa-times text-danger"></i> Had fainting attacks during last donation</li>
                                    <li><i class="fas fa-times text-danger"></i> Have regularly received treatment with blood products</li>
                                    <li><i class="fas fa-times text-danger"></i> Shared a needle to inject drugs/ have history of drug addiction</li>
                                    <li><i class="fas fa-times text-danger"></i> Had sexual relations with different partners or with a high risk individual</li>
                                    <li><i class="fas fa-times text-danger"></i> Been tested positive for antibodies to HIV</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                
            
    
            </div>
        </div>
        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer --> 
    </div>   
</div>

