<div class="row">


  <!-- Earnings (Monthly) Card Example -->
  <a routerLink="/admin/blood-donation-events" class="col mb-4">
      <div class="card shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col text-center">
                    <img src="assets/img/card-icons/event.svg" alt="" class="icon">
                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1 mt-2"><b>Blood donation events</b></div>
                    <div *ngIf="loaded" class="h3 mb-0 font-weight-bold text-gray-800"><b>{{eventCount}}</b></div>
                    <div *ngIf="!loaded" class="text-center">
                      <div class="spinner-grow text-primary" role="status">
                          <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-primary" role="status">
                          <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-primary" role="status">
                          <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </a>



  <a routerLink="/admin/urgent-requirement" class="col mb-4">
      <div class="card shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
              <div class="col mr-2 text-center">
                <img src="assets/img/card-icons/urgent.svg" alt="" class="icon">
                  <div class="text-xs font-weight-bold text-dark text-uppercase mb-1 mt-2"><b>Urgent Blood Requirements</b></div>
                  <div *ngIf="loaded" class="h3 mb-0 font-weight-bold text-gray-800"><b>{{urgentRequirementCount}}</b></div>
                  <div *ngIf="!loaded" class="text-center">
                    <div class="spinner-grow text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </a>

  <!--Blood requirements-->

  <a routerLink="/admin/requirement" class="col mb-4">
      <div class="card shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
              <div class="col mr-2 text-center">
                <img src="assets/img/card-icons/requirement.png" alt="" class="icon">
                  <div class="text-xs font-weight-bold text-dark text-uppercase mb-1 mt-2"><b>Blood Requirements</b></div>
                  <div *ngIf="loaded"  class="h3 mb-0 font-weight-bold text-gray-800"><b>{{requirementCount}}</b></div>
                  <div *ngIf="!loaded"  class="text-center">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
              </div>
              </div>
          </div>
      </div>
  </a>

</div>
