
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="h6 mb-0 text-gray-800 text-uppercase"><i class="fas fa-flag"></i> Blood donation events in your city</h3>
    </div>
    <div *ngIf="!donationEventList" class="card-body text-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>                       
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="donationEventList.length==0" class="card-body text-center">
        <i class="fa fa-flag display-1"></i><br>
        <p>No events registered in your city</p>
    </div>
    <div *ngIf="donationEventList.length!=0" class="row">
        <div *ngFor="let item of donationEventList" class="col-lg-3">
            <div class="card shadow mb-4 mt-2">
                <agm-map [latitude]="item.location.lat" [longitude]="item.location.lng" [zoom]="15" [zoomControl]="true" [scrollwheel]="false">
                    <agm-marker [latitude]="item.location.lat" [longitude]="item.location.lng" [markerDraggable]="false"></agm-marker>
                </agm-map>
                <div class="card-body">
                    <p class="text-muted m-0 p-0"><small><i class="fas fa-map-marker-alt"></i> {{item.place}}, {{item.area}}, {{item.city}} </small></p>
                    <p class="text-muted m-0 p-0"><small><i class="fas fa-calendar-alt"></i> {{item.from_date}} to {{item.to_date}}</small></p>     
                    <span *ngIf="item.from_date > currentDate" class="badge badge-primary mr-1"><i class="fas fa-user-md"></i> Upcoming</span>
                    <span *ngIf="currentDate === item.from_date || currentDate === item.to_date || (item.to_date > currentDate) && (currentDate > item.from_date)" class="badge badge-success mr-1"><i class="fas fa-flag"></i> Going on</span>
                    <span *ngIf="currentDate > item.to_date" class="badge badge-danger mr-1"><i class="fas fa-hourglass-end"></i> Over</span>
                </div>
                <a [href]="item.directionLink" target="_blank" class="card-header btn btn-success"><i class="fa fa-directions mr-2"></i>Directions</a>
            </div>
        </div>
    </div>    
</div>

