.card-body a{
    width: 100%;
}
.btn{
    border-radius: 0 0 5px 5px;
}

.badge{
    border-radius: 2px;
}
agm-map{
    height: 200px;
}
.card-header{
    background-color: #1cc88a;
}
.card{
    min-height: 95%;
}